*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: cursive;
    color: #eee;
    scroll-behavior: smooth;

}
body{
    width: 100%;
    height: 100%;
    background: url(images/sitebg.jpg) no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;


}
section{
    padding:2rem 0;
    
}

a{
    text-decoration: none;
    color: #eee;

}

p{
    font-size: 1.8rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;

}
img{
    width: 100%;
    
    
}

.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-top: 10rem;

}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255,255,255,.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-left: 1rem;

}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,.75);
    
}


.section-heading h1::before{
    width: 10rem;
    height: 4px;
    border-radius: .8rem;
    
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.4rem;
    border-radius: 100%;
    bottom: -20%;
    margin-left: -.8rem;
    transform: translateY(-20%);
    
    
}



.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;

}

.has-margin-right{
    margin-right: 5rem;
}

header{
    width: 100%;
    height: 100vh;
}
.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 50;
    top: -100vh;
    background-color: #16162d;
    border-bottom-right-radius :100% ;
    border-bottom-left-radius :100% ;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 1rem;
}
.nav-link{
    font-family: cursive ,sans-serif;
    font-size: 2rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top,#0ec8e0,#3d0b75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    height: 4rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #4592f7,#fd57bf);
    width: 100%;
    height: 4px; 
    border-radius: .8rem;
    
}

.bar.half{
    width: 50%;
}
.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top: 30%;
   
    transform: translateY(-30%);
    width: 100%;
    text-align: center;
    z-index: 1;

}
.landing-text h1{
    font-size: 20rem;
    font-family: cursive;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}


.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
}
.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.education h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px  2rem 0;
}



.about .container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;

}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
    margin-left: -5rem;

}
.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
    margin-left: -5rem;

}

.profile-img{
    flex: 1;
    margin-right: 5rem;
    
}
.profile{
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 11rem;
  
    
  border-radius: 2rem;
  
  
}

.about-details{
    flex: 1;
    margin-left: -12em;

}
ul.social li a:hover {
    color: #fff;
}
 
.social {
	text-align: center;
    margin: 1em 0 0 0;
}
.social ul li {
    display: inline-block;
}
.social ul li { 
    text-align: center; 
}
.social ul li a.fa {
    font-size: 2em;
    color: #fff;
    line-height: 1.8em;
    display: inline-block;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
.icon-border {
	position: relative;
}
.icon {
    vertical-align: top;
    overflow: hidden;
    margin:0 6px;
    width: 35px;
    height: 35px;
}
.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
} 
.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;      
}  
.social ul li a.fa.facebook:hover{
	color:#3b5998;   
} 
.social ul li a.fa.twitter:hover{
	color:#4099ff;   
} 

.social ul li a.fa.linkedin:hover{
	color:#2877B7;   
} 
.social ul li a.fa.youtube:hover{
	color:rgb(245, 245, 245);   
} 
/* facebook */
.icon-border.facebook::before {
	-webkit-box-shadow: inset 0 0 0 48px #3b5998; 
	-moz-box-shadow: inset 0 0 0 48px #3b5998; 
	-o-box-shadow: inset 0 0 0 48px #3b5998; 
	-ms-box-shadow: inset 0 0 0 48px #3b5998; 
	box-shadow: inset 0 0 0 48px #3b5998;  
} 
.icon-border.facebook:hover::before {
	-webkit-box-shadow: inset 0 0 0 2px #3b5998; 
	-moz-box-shadow: inset 0 0 0 2px #3b5998; 
	-o-box-shadow: inset 0 0 0 2px #3b5998; 
	-ms-box-shadow: inset 0 0 0 2px #3b5998; 
	box-shadow: inset 0 0 0 2px #3b5998; 
}  
/* twitter */
.icon-border.twitter::before {
	-webkit-box-shadow: inset 0 0 0 48px #4099ff;
	-moz-box-shadow: inset 0 0 0 48px #4099ff;
	-o-box-shadow: inset 0 0 0 48px #4099ff;
	-ms-box-shadow: inset 0 0 0 48px #4099ff;
	box-shadow: inset 0 0 0 48px #4099ff;
} 
.icon-border.twitter:hover::before {
	-webkit-box-shadow: inset 0 0 0 2px #4099ff;
	-moz-box-shadow: inset 0 0 0 2px #4099ff;
	-o-box-shadow: inset 0 0 0 2px #4099ff;
	-ms-box-shadow: inset 0 0 0 2px #4099ff;
	box-shadow: inset 0 0 0 2px #4099ff;
} 
/* linkedin */
.icon-border.linkedin::before {
	-webkit-box-shadow: inset 0 0 0 48px #2877B7;
	-moz-box-shadow: inset 0 0 0 48px #2877B7;
	-o-box-shadow: inset 0 0 0 48px #2877B7;
	-ms-box-shadow: inset 0 0 0 48px #2877B7;
	box-shadow: inset 0 0 0 48px #2877B7;
} 
.icon-border.linkedin:hover::before {
	-webkit-box-shadow: inset 0 0 0 2px #2877B7;
	-moz-box-shadow: inset 0 0 0 2px #2877B7;
	-o-box-shadow: inset 0 0 0 2px #2877B7;
	-ms-box-shadow: inset 0 0 0 2px #2877B7;
	box-shadow: inset 0 0 0 2px #2877B7;
}   
/* youtube */
.icon-border.youtube::before {
	-webkit-box-shadow: inset 0 0 0 48px rgb(184, 42, 42);
	-moz-box-shadow: inset 0 0 0 48px rgb(184, 42, 42);
	-o-box-shadow: inset 0 0 0 48px rgb(184, 42, 42);
	-ms-box-shadow: inset 0 0 0 48px rgb(184, 42, 42);
	box-shadow: inset 0 0 0 48px rgb(184, 42, 42);
} 
.icon-border.youtube:hover::before {
	-webkit-box-shadow: inset 0 0 0 2px rgb(184, 42, 42);
	-moz-box-shadow: inset 0 0 0 2px rgb(184, 42, 42);
	-o-box-shadow: inset 0 0 0 2px rgb(184, 42, 42);
	-ms-box-shadow: inset 0 0 0 2px rgb(184, 42, 42);
	box-shadow: inset 0 0 0 2px rgb(184, 42, 42)B7;
} 


.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px  2rem 0;
}


.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #ffe838;
    background-color: #fd57bf;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);


}
.icon-container i{
    color: #ffe838;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);


}

.work-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.work-item:last-child{
    margin-bottom: 0;
}

.work-img{
    width: 50rem;
    flex: 1;
}
.work-description{
    flex: 1;
}

.work-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: .3;
}


.work-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.work-description .cta{
    display: block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.work-description .cta:hover{
    color: #2f67cd;
}

.timeline ul{
    border-left: 4px solid #ffe838;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;

}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 1rem;
    opacity: .3;
}

.timeline .date{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position:absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);


}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}



.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf ;
    border-radius: 100%;
    left: -7rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}

.contact{
    background-color: #221e3f;

}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
}
input,select,textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;

}

input[type="submit"]{
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover{
    color: #221e3f;
    background-color: #ffe838;
}
input[type="reset"]{
    width: 8rem;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
    
}

input[type="reset"]:hover{
    color: #f6f6f8;
    background-color: #1a75dd;
}
.copy-right{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;

    align-items: center;
    
}
.up i{
    color:#16162d;
    font-size: 2rem;
    margin: 0 1.5rem;
}
.copy-right p{
    font-size: 1.4rem;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
         box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
         box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
   
}


/* media*/
@media screen and (max-width: 768px) {
    body{
    
    background: url(images/sitebg2.jpg) no-repeat center fixed;
    background-size: cover;


}

.landing-text h1{
    font-size: 15rem;
}
.landing-text h6{
    font-size: 1.7rem;
}

.nav-list{
    flex-direction: column;
}

li{
    margin: 2rem 0;
}
.nav-link{
    font-size: 4.5rem;

}
.about-heading h1{
    font-size: 8rem;
}
.section-heading h1{
    font-size: 3rem;
}
.about-details .nav-list{
    flex-direction: row;
}
.about-details{
    margin: 0 2rem;
}
.icon-container{
    width: 7rem;
    height: 7rem;
}
.icon-container i{
    font-size: 4rem;
}
.timeline ul{
    margin: 0 0 0 auto;
}

.timeline .date::after{
    left: -6.1rem
}

}

@media screen and (max-width: 600px){
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 8rem;
    }
    .landing-text h6{
        font-size: 1.4rem;
    }
    .nav-link{
        font-size: 3.5rem;
    }
    .about .container{
        flex-direction: column;
    }
    .profile-img{
        margin: 0 0 7rem 0;
        order: 1;
    
        
    }
    
   
    .work-item{
        flex-direction: column;
    }
    .work-img{
        margin: 0 0 2rem 0;
    }
    .work-description{
        margin: 0;
        order: 2;
    }
    .timeline p{
        font-size: 1.6rem;
    }
   
    form{
        width: 100%;
    }
    .up{
        right:2rem
    }
}


@media screen and (max-width: 360px){
    .menu-toggler{
        top: 5rem;
        left: 5rem;
    }
    .landing-text h1{
        font-size: 6rem;
    }
    .landing-text h6{
        font-size: 1rem;
    }
    .nav-link{
        font-size: 2.5rem;
    }
    .about .container{
        flex-direction: column;
        margin-left: 5rem;
    }
    .about .social{
        margin-left: -5rem;
    }
    .profile-img{
        margin-left: -7rem;
    } 
	.timeline .date::before{
    margin-left:1rem;
    }
   

}

